@import './../../variable.scss';
body { overflow:hidden; font-size:16px; font-stretch:normal; margin:0; background:transparent }
iframe { border:0 }
.vimeo iframe { border:0; width: 1140px !important; height: 640px !important;}
* { box-sizing:border-box; -webkit-font-smoothing:auto; text-rendering:optimizeSpeed; text-decoration:none }
img { max-width:100%; outline:none }
p { color:$theme-colour2 }
a { color:$theme-colour2; text-decoration:none; transition:all .3s }
a:hover, a:focus { color:$theme-colour1; opacity:1 }
hr { background-color:#c8cad0 }

.pointer { cursor:pointer }
.btn { min-width:6rem }
.switchList { padding:.8rem 1rem .8rem 1rem }
.switchList span:first-child { font-size:16px }
.w-100 { width:100% }
.hide { display:none }

.flex { display:flex; display:-ms-flexbox; -ms-flex-wrap:wrap; flex-wrap:wrap }
.align-center {  align-items:center }
.justify-between { justify-content:space-between }
.input50, .col50 { flex:1 0 50%; width:100%; padding-right:15px; padding-left:15px }
.col100 { flex:0 0 100%; max-width:100%; width:100%; padding-right:15px; padding-left:15px }
.input50Override, .col50 {
    flex:0 0 50%; max-width:50%;
}
.mat-dialog-container{
    height: auto !important;
}
/* LAYER UP */
.zIndex1 { z-index:9 }
.zIndex2 { z-index:99 }

// INPUT 
input[type="color"]{ padding:0; width:28px; height:30px; border:none; box-shadow:none; background-color:transparent; cursor:pointer; margin-right:.8rem }
input[type="color"]:focus { border:none; outline:none }

// LOGO
.navbar-brand img { width:auto; max-height:60px; max-width:260px; object-fit:contain }

// UPLOAD INPUT
.uploadFileBox { border:1px dotted rgba($color: #000000, $alpha: .2); border-radius:4px; padding:1.5rem 1rem; text-align:center; display:inline-block; width:100%; position:relative }
.uploadFileBox .title { font-size:16px; font-weight:bold; text-transform:uppercase }
.uploadFileBox .or { opacity:.5; padding:1rem }
.uploadFileBox input { width:100%; height:100%; position:absolute; left:0; top:0; z-index:9; opacity:0 }

.toolbarHeader { justify-content:space-between; position:fixed; top:0 }
.toolbarHeader .mat-h3 { font-weight:500; padding-left:1.5rem }
.toolbarHeader .mat-icon-button { width:56px; height:56px; background-color:#fff; border-radius:0; margin-right:1px; margin-top:9px }
.toolbarHeader a.mat-icon-button mat-icon { vertical-align:bottom }

aside.sidebar { position:fixed; left:16px; top:83px; transition:all .5s; background:#fff; border-radius:4px; box-shadow:0 0 14px rgba($color: #000000, $alpha: .1); max-width:320px; z-index:99; height:87% } 
// height:86vh;
aside.sidebar .mat-tab-group { max-height:100%; height:100% }
.listIcon { display:flex; justify-content:space-between; align-items:center; padding:0.8rem 1rem 0.8rem 2rem }
// .eventPagesList { max-height:71vh }

.toggleButton { display:flex; position:absolute; left:calc(100% - 11px); top:45%; z-index:11; cursor:pointer;
    span { width:26px; height:26px; line-height:23px; text-align:center; background-color:#333; color:#fff; border:2px solid #fff; border-radius:50%; overflow:hidden;}
}
.sidebarCollapsed {
    .sidebar { width:0;}
    .themeWrapper { padding-left:0;}
}

.listHoverIcon .mat-pseudo-checkbox { opacity:0 }
.listItem { position:relative }
.listItem .icon { font-size:20px; width:20px; height:20px; line-height:initial }
.listItem .visibilityIcon { font-size:20px; width:20px; height:20px; position:absolute; left:2px; top:10px; opacity:0; transition:all .3s; transform:translateX(-10px); color:#08bcfe }
.visibilityIcon .mat-button-wrapper { display:flex; justify-content:center }
.visibilityIcon.visibilityOff { color:$textMute; opacity:1; transform:translateX(0) }
.listItem .listText { padding-left:.5rem }
.listItem .settingsIcon { transition:all .3s; opacity:0; transform:translateX(10px) }
.listItem:hover .visibilityIcon, .listItem:hover .settingsIcon { opacity:1; transform:translateX(0) }
.listItem:hover { background-color:rgba($color:#000000, $alpha:.04) }

.themeWrapper { width:100%; padding-left:360px; padding-top:5rem; padding-right:0; padding-bottom:20px; transition:all .5s;}
.themeContainer { background-color:#fff; border:2px solid #eee; max-height:87vh; overflow-y:auto; overflow-x:hidden }
.customRadioGroup { display:flex; flex-direction:column; margin:0; padding:0.8rem 1rem 0.8rem 1.5rem }
.customRadioGroup .mat-radio-label-content { padding-left:14px; font-size:16px; color:rgba($color:#000000, $alpha:0.85) }
.customRadioButton { margin:8px 5px }
// .listInputSpacing { padding:0.8rem 2rem 1rem 2rem }

.pl-1rem { padding-left:1rem !important }

.customCssView p { padding-top:1rem; padding-left:2rem; padding-right:1rem; margin-bottom:0 }

.pageTemplateIframe { height:calc(100vh - 130px); border:none }

.fixedBottomButton { position:absolute !important; bottom:1rem; right:1rem }
.sidebar .mat-tab-body-wrapper { height:100% }

// PAGE DEFAULT
html, body { font-size:16px; overflow-x:hidden }
.themeContainer { font-family:$font-style !important; background:#fff; color:$theme-colour2 !important }
.themeContainer h1, h2, h3, h4, h5, h6, .titleH2 { color:$theme-colour2; font-family:$font-style }
.themeContainer a { text-decoration:none; color:$theme-colour2; transition:all .2s; font-family:$font-style }
.themeContainer .active a { color:$theme-colour2 !important }
a:focus, a:hover { text-decoration:none }
.themeContainer a.dark:hover, a.dark:focus { color:$theme-colour1 !important }
img { max-width:100%; outline:none }
li { list-style:none }
.cursor-pointer { cursor:pointer }
.line-clamp { display:-webkit-box; -webkit-line-clamp:2; -webkit-box-orient:vertical; overflow:hidden }
.line-clamp4 { display:-webkit-box; -webkit-line-clamp:4; -webkit-box-orient:vertical; overflow:hidden }
.line-clamp6 { display:-webkit-box; -webkit-line-clamp:6; -webkit-box-orient:vertical; overflow:hidden }
.underline { text-decoration:underline }
.bgCenter { background-repeat:no-repeat !important; background-position:center center !important; background-size:cover !important }
.text-shadow { text-shadow:0 0 14px rgba(0,0,0,.1) }
.box-shadow { box-shadow:0 0 14px rgba(0,0,0,.1) }
.radius1 { border-radius:4px }
button:focus, .mat-icon:focus {  outline:none }

.justify-content-evenly { justify-content:space-evenly }
section.pySec { padding:3rem 0 }

/* DEFAULT POSITION */
.setRB { position:absolute; right:0; bottom:0 }
.setLB { position:absolute; left:0; bottom:0; top:inherit !important }
.setLT { position:absolute; left:0; top:0 }

/* ICON SIZE */
.icon img { max-height:100% }
.icon-xs { width:18px; height:18px }
.icon-sm { width:24px; height:24px; line-height:20px }
.icon-md { width:36px; height:36px }
.icon-lg { width:48px; height:48px }
.icon-xl { width:72px; height:72px }

/* BUTTONS */
.btn { padding:0.75rem 1.2rem; border-radius:4px; font-size:.875rem; min-width:10rem }
.btn.btnSmall { padding:0.5rem 1rem; min-width:5rem }
.btn.btnLarge { min-width:10rem }
.themeContainer .btn-primary { background-color:$theme-colour1 }
.themeContainer .btn-primary:hover { background-color:$theme-colour2  }
.btn-light { color:#000; background-color:#fff }
.btn-light:hover, .btn-light:focus { background-color:#fff; color:$theme-colour2  }
.themeContainer .btn-outline-light:hover { color:$theme-colour2 }

/* FONT WEIGHT */
.font-weight-light { font-weight:300 }
.font-weight-medium, .semiBold { font-weight:600 }

/* FONT SIZES */
.f7, h1 { font-size:3rem } /* 48px */
.f6, h2 { font-size:2.25rem } /* 36px */
.f5, h3 { font-size:2rem } /* 32px */
.f4, h4 { font-size:1.5rem } /* 24px */
.f3, h5 { font-size:1.125rem } /* 18px */
.f2, h6 { font-size:1rem } /* 16px */
.f1 { font-size:0.875rem } /* 14px */

/*LINE HEIGHT*/
.line-height1 { line-height:1.2 }
.line-height2 { line-height:1.4 }

/*SPACING*/
.spaceTop, .spaceY { padding-top:80px }
.spaceBottom, .spaceY { padding-bottom:80px }
.spaceOuterTop, .spaceOuterY { margin-top:80px }
.spaceOuterBottom, .spaceOuterY { margin-bottom:80px }

/* COLORS */
.themeContainer {
    .mat-flat-button.btnStyle1 { background:$theme-colour1; color:#fff; padding:4px 2.2rem; position:relative; z-index:1 }
    .mat-flat-button.btnStyle1:before { content:''; position:absolute; left:0; top:0; width:100%; height:100%; background:rgba(0, 0, 0,.08); z-index:-1; opacity:0; transition:all .3s; width:0 }
    .mat-flat-button.btnStyle1:hover:before { width:100%; opacity:1 }
    .mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
        background-color: $theme-colour2;
    }
    .btn-primary { background-color:var(--theme-colour1); border-color:var(--theme-colour1) }
    .txt-primary { color:var(--theme-colour1) }
    p p { color:inherit }
}


/* OPACITY */
.op0 { opacity:0 }
.op1 { opacity:0.1 }
.op2 { opacity:0.2 }
.op3 { opacity:0.3 }
.op4 { opacity:0.4 }
.op5 { opacity:0.5 }
.op6 { opacity:0.6 }
.op7 { opacity:0.7 }
.op8 { opacity:0.8 }
.op9 { opacity:0.9 }

/* FORM ELEMENTS */
.form-group label span { color:red }
input.form-control { min-height:2.5rem }
input.form-control::placeholder { color:#c2c7cc }
input.form-control:focus { box-shadow:none }
/*input[type='text'], input[type='email'], input[type='phone'], input[type='tel'], input[type='password'], textarea, select { border:1px solid #e6e6e6 !important; background-color:#f1f1f1 !important }
textarea { resize:none }
input[type='text'].inputStyle2 { border:1px solid #999 !important; background:none !important }*/


.gradientOverlay { position:relative; z-index:1 }
.themeContainer .gradientOverlay:before { background:$theme-colour2; background:-moz-linear-gradient(180deg, $theme-colour2 50%, $theme-colour3 100%); background:-webkit-linear-gradient(180deg, $theme-colour2 50%, $theme-colour3 100%); background:linear-gradient(180deg, $theme-colour2 50%, $theme-colour3 100%); filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#077bff",endColorstr="#ff008a",GradientType=1); content:"";    position:absolute; left:0; top:0; width:100%; height:100%; z-index:-1; opacity:.9 }
.themeContainer .bg-gradient { background:$theme-colour2 !important; background:-moz-linear-gradient(180deg, $theme-colour2 50%, $theme-colour3 140%); background:-webkit-linear-gradient(180deg, $theme-colour2 50%, $theme-colour3 140%); background:linear-gradient(180deg, $theme-colour2 50%, $theme-colour3 140%); filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#077bff",endColorstr="#ff008a",GradientType=1) }
.goTop { position:fixed; bottom:2rem; right:2rem; z-index:99; transition:all .5s; transform:translateY(300%); opacity:0 }
.goTop.active { transform:translateY(0); opacity:1 }
.closeNavbarToggler { display:none }

.blankDataMsgBox { padding:3rem; text-align:center; background-color:#ffe5e5; border-radius:6px; width:100% }

/* SOCIAL ICONS */
.socialIcons { position:relative }
.svg-icon { display:inline-block; border-radius:50%; text-align:center; background-color:rgba(0, 0,0,.1); transition:all .3s }
.svg-icon.icon-primary { background-color:rgba(16, 118,251,.1); padding:0.3rem }
.themeContainer .svg-icon:hover { background-color:$theme-colour2 !important }
.svg-icon:hover svg path { fill:#fff }
.info { max-width:100%; cursor:pointer }

/* SHARE OPTIONS */
.shareOptions { position:absolute; right:0; bottom:40px; background:#fff; box-shadow:0 0 14px rgba(0,0,0,.1); border-radius:4px; padding:5px; transition:all .3s }
.shareOptions:after { content:''; position:absolute; right:4px; bottom:-16px; border:10px solid transparent; border-top-color:#fff }
.shareOptions a { display:inline-block; margin:1px; padding:0 2px; transition:transform .3s }
.shareOptions a:hover { transform:scale(1.1) }

/* FONT */
.font1 { font:400 14px/20px Roboto, "Helvetica Neue", sans-serif }

/* RE THEMEING*/
.mat-slide-toggle.mat-checked .mat-slide-toggle-bar { background-color:rgba(255,64,129,.54) }
.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb { background-color:#ff4081 }
.mat-checkbox-checked:not(.mat-checkbox-disabled).mat-accent .mat-ripple-element, .mat-checkbox:active:not(.mat-checkbox-disabled).mat-accent .mat-ripple-element { background:#ff4081}
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background, .mat-checkbox-checked.mat-accent .mat-checkbox-background {
    background:#ff4081
}
.mat-radio-button.mat-accent .mat-radio-inner-circle, .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple), .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple, .mat-radio-button.mat-accent:active .mat-radio-persistent-ripple { background-color:#ff4081 }
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle { border-color: #ff4081 }
.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar { background-color:#ff4081 }

.mat-progress-spinner.mat-accent circle, .mat-spinner.mat-accent circle { stroke:#ff4081 }

.themeContainer {
    .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb { background-color:$theme-colour1 }
    .mat-checkbox-checked:not(.mat-checkbox-disabled).mat-accent .mat-ripple-element, .mat-checkbox:active:not(.mat-checkbox-disabled).mat-accent .mat-ripple-element { background:$theme-colour1}
    .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background, .mat-checkbox-checked.mat-accent .mat-checkbox-background {
        background:$theme-colour1
    }
    .mat-radio-button.mat-accent .mat-radio-inner-circle, .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple), .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple, .mat-radio-button.mat-accent:active .mat-radio-persistent-ripple { background-color:$theme-colour1 }
    .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle { border-color: $theme-colour1 }
    .mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar { background-color:$theme-colour1 }

    .mat-progress-spinner.mat-accent circle, .mat-spinner.mat-accent circle { stroke:$theme-colour1 }
}

.navbar-light .navbar-nav .nav-link { color:$theme-colour2; padding:0.5rem 0.875rem }

.banner1st img { width:100%; max-height:540px; object-fit:cover }

.titleH1 { font-size:55px; line-height:normal; font-style:normal; font-weight:bold; letter-spacing: 1.1px }
.titleH2 { text-align: center; font-size:32px; line-height:normal; font-style:normal; font-weight:bold; letter-spacing: 1.1px }
h3 { font-size:26px; line-height:normal; font-style:normal } 
h4 { font-size:26px; line-height:normal; font-style:normal; letter-spacing: 0px }

.virtualEventSec, .timerDiv, .ticketSection, .refundPolicyBox { background-size:cover !important; background-repeat:no-repeat !important; background-position:center !important }

/* SCROLL BAR */
.themeContainer::-webkit-scrollbar { width:10px }
.themeContainer::-webkit-scrollbar-track { box-shadow:inset 0 0 10px rgba(255, 255, 255, 0.6) ; background-color:#ddd }
.themeContainer::-webkit-scrollbar-thumb { background-color:#aaa; border-radius:0; border-top:2px solid rgba(255, 255, 255, 0.2) }

/* MEDIA QUEIRY WITH RESONSIVE */

@media screen and (min-width : 2049px){
    .container-fluid { max-width:90rem }
}

@media screen and (min-width : 1681px){
    html, body { font-size:18px }
    .container { max-width:65rem }
    .container.mw-85 { max-width:78rem }

    .f9, h1 { font-size:3.6rem }
    .f8, h2 { font-size:2.67rem }
    .f7, h3 { font-size:1.75rem }
    .f6, h4 { font-size:1.5rem }
    .f5, h5 { font-size:1.24rem }

    .btn { font-size:1rem }
    .line-height2 { line-height:1.7 }

    input.form-control { min-height:3.3rem }
}
.stick-to-top {
    margin-top: 150px !important;
   }