::ng-deep .mat-dialog-actions {
    padding: 19px 0px 15px 0px;
    display: inline-block;
    flex-wrap: wrap;
    min-height: 52px;
    align-items: center;
    margin-bottom: -24px;
    text-align: right;
    width: 100%;
}