<section *ngIf="eventTickets.eventTickets.length>0 && (State <2)" [ngClass]="{tickets:eventTickets.EditMode}"
    (click)="ChangeDetect($event, eventTickets)" [style]="getSectionStyleString(eventTickets)" id="tickets"
    class="ticketSection pySec">
    <section-designer-toolbar *ngIf="eventTickets.EditMode" [ngStyle]="ngStyle"
        (eventTextFormatAlignment)="changeAlignment($event)"></section-designer-toolbar>
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h2 #appendItem *ngIf="sectionHeading" [style]="getStyleString(sectionHeading)"
                    [ngClass]="{formatEditToolbarWrapper:eventTickets.EditMode}"
                    (click)="showHideToolbar($event,sectionHeading)">
                    {{sectionHeading.CustomPropertyName}}
                </h2>
            </div>
        </div>
        <div class="row">
            <div *ngIf="eventTickets.EditMode && eventTickets.eventTickets.length == 0" class="blankDataMsgBox">
                Please add data in <span class="fw-bold">Edit Event page</span> or turn this <span
                    class="fw-bold">section off.</span>
            </div>
            <div class="col-12 col-md-6 mb-4" *ngFor="let ticket of eventTickets.eventTickets">
                <div class="card ticketCard" *ngIf="TicketBox && eventTickets.EventId != this.kmaEventId">
                    <div *ngIf="eventTickets.EditMode" class="editorWrapper" #appendItem
                        (click)="showHideButtonToolbar($event, TicketBox, ticket)"
                        [ngClass]="{formatEditToolbarWrapper:eventTickets.EditMode}"></div>
                    <div class="card-body pb-2 d-flex justify-content-between flex-column flex-sm-row"
                        [ngStyle]="{backgroundColor: ticket.BGColor}">
                        <div class="w-75">
                            <p *ngIf="!ticket.ShowMemberTicket" class="ticketMemberBadge">This is a members-only ticket!
                                <a target="_blank"
                                    href="{{domainUrl}}/membership/joinmembership?orgId={{ticket.OrganizerMasterId}}">Become
                                    a Member</a>
                            </p>
                            <h4 class="mb-0 z11" *ngIf="getTicketProperty(ticket.TicketId, 'Event_TicketName')"
                                #appendItem [ngClass]="{formatEditToolbarWrapper:eventTickets.EditMode}"
                                (click)="showHideButtonToolbar($event,getTicketProperty(ticket.TicketId, 'Event_TicketName'),ticket)"
                                [style]="getStyleString(getTicketProperty(ticket.TicketId, 'Event_TicketName'))">
                                {{ticket.TicketName}}
                                <div class="f1 ticketDescriptionStatus" *ngIf="getTicketProperty(ticket.TicketId, 'Event_TicketDescription') && ticket.TicketDescription">
                                    <mat-icon class="fs4">info</mat-icon>
                                    <p>{{ticket.TicketDescription}}</p>
                                </div>
                            </h4>
                            <div class="f2 mb-1 z11" *ngIf="getTicketProperty(ticket.TicketId, 'Event_VenueName')"
                                #appendItem [ngClass]="{formatEditToolbarWrapper:eventTickets.EditMode}"
                                (click)="showHideButtonToolbar($event,getTicketProperty(ticket.TicketId, 'Event_VenueName'),ticket)"
                                [style]="getStyleString(getTicketProperty(ticket.TicketId, 'Event_VenueName'))">
                                {{ticket.VenueName}}</div>

                            <div class="ticket-dates" *ngIf="getTicketProperty(ticket.TicketId, 'Event_IickateDate')" class="z11" 
                            [ngClass]="{formatEditToolbarWrapper:eventTickets.EditMode}" 
                            [style]="getStyleString(getTicketProperty(ticket.TicketId, 'Event_IickateDate'))">
                                <div class="start-date" *ngIf="ticket.DisplayDate">
                                    <div class="f1" style="font-size:inherit" #appendItem (click)="showHideButtonToolbar($event,getTicketProperty(ticket.TicketId, 'Event_IickateDate'),ticket)">{{ticket.StartDateFormatted}}</div>
                                </div>
                                <div class="end-date" *ngIf="ticket.DisplaySalesEnd">
                                    <div class="f1" style="font-size:inherit"  #appendItem (click)="showHideButtonToolbar($event,getTicketProperty(ticket.TicketId, 'Event_IickateDate'),ticket)" *ngIf="ticket.DateInfoString1"> {{ticket.DateInfoString1}}</div>
                                </div>
                            </div>

                            <div *ngIf="getTicketProperty(ticket.TicketId, 'Event_ViewAgenda') && ticket.HasAgeda" (click)="openViewAgenda(ticket.TicketId)" 
                            [style]="getStyleString(getTicketProperty(ticket.TicketId, 'Event_ViewAgenda'))"
                                class="viewScheduleBtn mt-2 z11">
                                <span class="material-icons fs5 mr-1">event_available</span>
                                <span #appendItem [ngClass]="{formatEditToolbarWrapper:eventTickets.EditMode}"
                                (click)="showHideButtonToolbar($event, getTicketProperty(ticket.TicketId, 'Event_ViewAgenda'),ticket)">{{getTicketProperty(ticket.TicketId, 'Event_ViewAgenda').CustomPropertyName}}</span>
                            </div>

                            <div *ngIf="ticket.ShowRemaining && !ticket.SoldOut" class="remainingQuantity">
                                <div class="f1">{{ticket.RemainingQuantity}} Remaining</div>
                            </div>
                        </div>
                        <div *ngIf="!ticket.SoldOut && eventTickets.EventId != this.kmaEventId"
                            class="form-group mt-3 mt-sm-0">
                            <ng-container *ngIf="ticket.TicketTypeId !==3">
                                <label for="quantityTickets" class="z11" [style]="getStyleString(getTicketProperty(ticket.TicketId, 'Event_TicketQuantity'))" [ngClass]="{formatEditToolbarWrapper:eventTickets.EditMode}" (click)="showHideButtonToolbar($event,getTicketProperty(ticket.TicketId, 'Event_TicketQuantity'),ticket)"  #appendItem *ngIf="getTicketProperty(ticket.TicketId, 'Event_TicketQuantity')">Quantity</label>
                                <select class="form-control bg-transparent"
                                    [disabled]="!ticket.ShowMemberTicket || !ticket.Available"
                                    [(ngModel)]="ticket.Quantity" (change)="calculateTotalPrice($event,ticket)">
                                    <option value="{{qty}}" *ngFor="let qty of ticket.Quants;" class="text-dark">{{qty}}
                                    </option>
                                </select>
                            </ng-container>
                            <ng-container *ngIf="ticket.TicketTypeId === 3">
                                <div class="donationAmout">
                                    <label for="quantityTickets" [style]="getStyleString(getTicketProperty(ticket.TicketId, 'Event_TicketQuantity'))" class="form-label z11" [ngClass]="{formatEditToolbarWrapper:eventTickets.EditMode}" (click)="showHideButtonToolbar($event,getTicketProperty(ticket.TicketId, 'Event_TicketQuantity'),ticket)"  #appendItem *ngIf="getTicketProperty(ticket.TicketId, 'Event_TicketQuantity')">Amount</label>
                                    <input matInput type="number" (click)="clearAmount(ticket)" placeholder="$0"
                                        [(ngModel)]="ticket.Amount" (blur)="calculateTotalPrice($event,ticket)"
                                        class="md-block form-control">
                                </div>
                            </ng-container>
                        </div>
                        <div *ngIf="ticket.SoldOut" class="fs5 soldOut">Sold Out</div>

                    </div>

                    <div class="card-footer d-flex align-items-center justify-content-between"
                        [ngStyle]="{backgroundColor: ticket.BGColor}">
                        <ng-container *ngIf="ticket.TicketType === 'PAID'">
                            <div  *ngIf="getTicketProperty(ticket.TicketId, 'Event_TicketPrice')" class="text-left" [ngClass]="{formatEditToolbarWrapper:eventTickets.EditMode}">
                                <span *ngIf="ticket.SourcePrice != ticket.Price"
                                    class="f3 op6 price-sticked mr-1 z11"  #appendItem
                                     (click)="showHideButtonToolbar($event, getTicketProperty(ticket.TicketId, 'Event_TicketPrice'),ticket)"
                                    [style]="getStyleString(getTicketProperty(ticket.TicketId, 'Event_TicketPrice'))">${{ticket.SourcePrice}}</span>
                                <span [style]="getStyleString(getTicketProperty(ticket.TicketId, 'Event_TicketPrice'))" class="f4">${{ticket.Price}}</span>
                            </div>
                            <div class="text-right" *ngIf="!ticket.SoldOut && getTicketProperty(ticket.TicketId, 'Event_TicketTotalPrice')">
                                <!-- <span class="f1">Total Price</span> -->
                                <span class="f4 pl-3 z11" #appendItem
                                [ngClass]="{formatEditToolbarWrapper:eventTickets.EditMode}" (click)="showHideButtonToolbar($event,getTicketProperty(ticket.TicketId, 'Event_TicketTotalPrice'),ticket)"
                                [style]="getStyleString(getTicketProperty(ticket.TicketId, 'Event_TicketTotalPrice'))" >${{ticket.TotalPrice}}</span>
                            </div>
                        </ng-container>
                        <ng-container *ngIf="ticket.TicketType !== 'PAID'">
                            <div class="text-left" *ngIf="getTicketProperty(ticket.TicketId, 'Event_TicketPrice')">
                                <span class="f1 pr-3 z11" #appendItem
                                [ngClass]="{formatEditToolbarWrapper:eventTickets.EditMode}" (click)="showHideButtonToolbar($event,getTicketProperty(ticket.TicketId, 'Event_TicketPrice'),ticket)"
                                [style]="getStyleString(getTicketProperty(ticket.TicketId, 'Event_TicketPrice'))">{{getTicketProperty(ticket.TicketId, 'Event_TicketPrice').CustomPropertyName}}</span>
                            </div>
                        </ng-container>
                    </div>

                </div>
            </div>
        </div>
        <div *ngIf="eventTickets.eventDeals.length > 0" class="row">
            <div class="col-12">
                <div class="card border-0">
                    <div class="card-body" *ngIf="false">
                        <div class="media  align-items-start flex-column flex-sm-row">
                            <div class="media-body pr-4">
                                <h5 class="mt-0 f3 semiBold">
                                    Bundle Your Order And Save
                                    <span class="svg-icon icon-sm" data-toggle="modal" data-target="#bundleInfoModal">
                                        <svg class="info" xmlns="http://www.w3.org/2000/svg" width="4.262"
                                            height="11.366" viewBox="0 0 4.262 11.366">
                                            <path id="Icon_awesome-info" data-name="Icon awesome-info"
                                                d="M.444,9.417H.888V6.211H.444A.444.444,0,0,1,0,5.767V4.706a.444.444,0,0,1,.444-.444H2.93a.444.444,0,0,1,.444.444V9.417h.444a.444.444,0,0,1,.444.444v1.06a.444.444,0,0,1-.444.444H.444A.444.444,0,0,1,0,10.922V9.861A.444.444,0,0,1,.444,9.417ZM2.131,0a1.6,1.6,0,1,0,1.6,1.6A1.6,1.6,0,0,0,2.131,0Z"
                                                fill="#3b3b3b" />
                                        </svg>
                                    </span>
                                </h5>
                                <p class="f2">Buy together and save money! We have exclusive deals to make your event
                                    experience more convenient, cheaper and fun.</p>
                            </div>
                            <div class="ml-auto d-flex align-items-center mt-3 mt-sm-0">
                                <div *ngFor="let deal of eventDeals" class="addRemoveBundles mr-4">
                                    <img src="{{domainURL+ deal.LogoUrl}}" alt="{{deal.Name}}" class="dealIcon">
                                    <div class="bundleIcons d-flex align-items-center">
                                        <span class="infoIcon" data-toggle="tooltip" data-placement="bottom"
                                            title="{{deal.Description}}"><img
                                                src="assets/eventmaker/theme1/media/icons/info-bundle.svg" alt=""
                                                class="icon-md"></span>
                                        <span class="addIcon"><img
                                                src="assets/eventmaker/theme1/media/icons/add-bundle.svg" alt=""
                                                class="icon-md"></span>
                                        <span class="removeIcon"><img
                                                src="assets/eventmaker/theme1/media/icons/remove-bundle.svg" alt=""
                                                class="icon-md"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-4">

            <div [ngClass]="(PromoCode && Total)?'col-12': 'col-12'" class=" mb-3 position-relative"
                *ngIf="PromoCode && ApplyButton" [ngClass]="{'text-right':!ApplyButton.TextAlignment}"
                [style.text-align]="ApplyButton.TextAlignment">
                <label class="mr-2" #appendItem *ngIf="PromoCode" [style]="getStyleString(PromoCode)"
                    [ngClass]="{formatEditToolbarWrapper:eventTickets.EditMode}"
                    (click)="showHideToolbar($event,PromoCode)" (input)="onChange($event.target.innerHTML, PromoCode)">
                    {{PromoCode.CustomPropertyName}}
                </label>

                <input matInput type="text" [(ngModel)]="promoCodeValue" [disabled]="promoCodeAapplied"
                    class="md-block accessCodeFeild md-auto-horizontal-margin">
                <mat-icon title="Remove promo code" *ngIf="promoCodeApplied" (click)="removePromoCode()" matSuffix
                    class="icon-remove-promocode">close</mat-icon>

                <a #appendItem class="mat-flat-button ml-2 mt-2 mt-sm-0" *ngIf="ApplyButton"
                    [ngClass]="{ 'promo-applied': promoCodeApplied }"
                    (click)="showHideButtonToolbar($event, ApplyButton)" href="javascript:void(0)"
                    (click)="applyPromoCode()" [ngClass]="{formatEditToolbarWrapper:eventTickets.EditMode}"
                    [style]="getStyleString(ApplyButton)">
                    {{ promoCodeApplied ? 'Applied' : ApplyButton.CustomPropertyName}}
                </a>

            </div>
            <div [ngClass]="(PromoCode && Total)?'col-12': 'col-12'">
                <div *ngIf="Total" [ngClass]="{'text-right':!Total.TextAlignment}"
                    [style.text-align]="Total.TextAlignment">
                    <span class="f3" #appendItem *ngIf="Total" [style]="getStyleString(Total)"
                        [ngClass]="{formatEditToolbarWrapper:eventTickets.EditMode}"
                        (click)="showHideToolbar($event,Total)">
                        {{Total.CustomPropertyName}}
                    </span>
                    <span *ngIf="promoCodeApplied"
                        class="f3 pl-3 op6 price-sticked">${{totalPriceWithoutDiscout}}</span>
                    <span [style]="getStyleString(Total)"  class="f4 pl-3 font-weight-bold">${{totalPrice}}</span>
                </div>
                <div class="mt-3 position-relative" *ngIf="CheckoutButton"
                    [ngClass]="{'text-right':!CheckoutButton.TextAlignment}"
                    [style.text-align]="CheckoutButton.TextAlignment">
                    <button #appendItem (click)="showHideButtonToolbar($event, CheckoutButton)"
                        class="btnStyle1 mat-flat-button" [ngClass]="{formatEditToolbarWrapper:eventTickets.EditMode}"
                        [style]="getStyleString(CheckoutButton)" (click)="orderCheckout()">
                        {{CheckoutButton.CustomPropertyName}}
                    </button>

                </div>

            </div>
        </div>
    </div>
</section>