
<mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
<div>

  <div class="fwStreaming">

    <div class="fwStreaming-todo" id="local_stream"></div>
    <div id="full-screen-video"></div>
  </div>
  <div class="attendeeList">
    <div class="attendeeBox">
      <iframe class="fwStreaming" width="560" height="315" src="https://www.youtube.com/embed/xdcXzECpqzI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="attendeeBox">
      <iframe class="fwStreaming" width="560" height="315" src="https://www.youtube.com/embed/OMVVGYbDmfU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="attendeeBox">
      <iframe class="fwStreaming" width="560" height="315" src="https://www.youtube.com/embed/IuuD9G0QPME" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="attendeeBox">
      <iframe class="fwStreaming" width="560" height="315" src="https://www.youtube.com/embed/JgGVOlbOPUU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>

</div>


