<section class="banner2st pageBanner" *ngIf="isFullPage && sectionBanner" (click)="ChangeDetect($event, eventSponsors, 'SectionBanner')" [ngClass]="{virtualEventSec:eventSponsors.EditMode}"
[style]="getBannerSectionStyleString(eventSponsors)"
	[ngClass]="{virtualEventSec:eventSponsors.EditMode}" id="Sponsors">
	<section-banner-designer-toolbar *ngIf="eventSponsors.EditMode" [ngStyle]="ngStyle"
		(eventTextFormatAlignment)="changeAlignment($event)"></section-banner-designer-toolbar>
	<div class="container">
		<div class="row">
			<div class="col-md-12" >
			<h1 #appendItem *ngIf="sectionHeading"[style]="getStyleString(sectionHeading)"
			[ngClass]="{formatEditToolbarWrapper:eventSponsors.EditMode}" (click)="showHideToolbar($event,sectionHeading)"
			(input)="onChange($event.target.innerHTML, sectionHeading)">
			{{sectionHeading.CustomPropertyName}}

		    </h1>
				<!-- <p>Explore the new era of events and the way forward with industry experts and thought leaders.</p> -->
			</div>
		</div>
	</div>
</section>

<section (click)="ChangeDetect($event, eventSponsors)" [ngClass]="{virtualEventSec:eventSponsors.EditMode}"
[style]="getSectionStyleString(eventSponsors)" id="Sponsors">
	<section-designer-toolbar *ngIf="eventSponsors.EditMode" [ngStyle]="ngStyle"
		(eventTextFormatAlignment)="changeAlignment($event)"></section-designer-toolbar>
	<div class="container">		
		<h1 #appendItem *ngIf="heading"[style]="getStyleString(heading)"
			[ngClass]="{formatEditToolbarWrapper:eventSponsors.EditMode}" (click)="showHideToolbar($event,heading)"
			(input)="onChange($event.target.innerHTML, heading)">
			{{heading.CustomPropertyName}}
		</h1>
		<ng-container *ngFor="let grpSponsor of groupArr;trackBy:trackBysFn">
			<div class="row">
				<div class="col-12 mt-4">
					<h3 #appendItem *ngIf="grpSponsor.CategoryName && Category"
					[style]="getStyleString(Category)"
						[ngClass]="{formatEditToolbarWrapper:eventSponsors.EditMode}"
						(click)="showHideToolbar($event,Category)">{{grpSponsor.CategoryName}}</h3>
				</div>
			</div>

			<div class="row">
				<div *ngIf="eventSponsors.EditMode && eventSponsors.eventSponsors.length == 0" class="blankDataMsgBox">
					Please add data in <span class="fw-bold">Edit Event page</span> or turn this <span
						class="fw-bold">section off.</span>
				</div>
				<div class="col-md-3" *ngFor="let sponsor of grpSponsor.groupItem;trackBy: trackByFn;">
					<div class="eventSponsorsBox" title="{{sponsor.SponsorName}}" *ngIf="SponsorBox"
						[ngStyle]="{backgroundColor: sponsor.BGColor, color:sponsor.TextColor}">
						<div #appendItem *ngIf="eventSponsors.EditMode" class="editorWrapper"
							(click)="showHideButtonToolbar($event, SponsorBox, sponsor)"
							[ngClass]="{formatEditToolbarWrapper:eventSponsors.EditMode}"></div>
						<a *ngIf="sponsor.SponsorUrl" href="{{sponsor.SponsorUrl}}" target="_blank"><img
								src="{{domainUrl+sponsor.ImagePath}}" alt="{{sponsor.SponsorName}}"></a>
						<img *ngIf="!sponsor.SponsorUrl" src="{{domainUrl+sponsor.ImagePath}}"
							alt="{{sponsor.SponsorName}}">
					</div>
				</div>
			</div>
		</ng-container>
		<div *ngIf="SeeAllBtn && !isFullPage && eventSponsors.eventSponsors.length>5" class="row mt-5 px-3" [style]="getStyleString(SeeAllBtn)">
			<a  class="text-uppercase text-underline fs4 w-100" #appendItem  [style]="getStyleString(SeeAllBtn)"
			[ngClass]="{formatEditToolbarWrapper:eventSponsors.EditMode}" (click)="showHideToolbar($event,SeeAllBtn)" href="{{eventSponsors.EditMode?'javascript:void(0)':eventUrl}}">{{SeeAllBtn.CustomPropertyName}}</a>
		  </div>
	</div>
</section>
