
<style>
  .troubleshoot {
    display: none;
  }
</style>

<div class="audioVideoSetting">
  <h2 mat-dialog-title>Test Your Audio & Video Settings</h2>
  <mat-dialog-content>
    <div class="content audioVideoMain">
      <div class="audioVideoLeft">
        <div class="videoIcon">
          <div *ngIf="showVideoIcon()">
            <a (click)="toggleVideoOnClick()">
              <span class="material-icons">
                {{dialogData.localVideoEnable ? 'videocam' : 'videocam_off' }}
              </span>
              <p>Camera</p>
            </a>
          </div>
          <div class="troubleshoot">Troubleshoot</div>
        </div>
        <mat-form-field style="width:100%">
          <mat-select [(value)]="mediaInfoService.mediaInfo.selectedCameraId"
                      (selectionChange)="onCameraSelectionChange($event)">
            <mat-option *ngFor="let cam of mediaInfoService.cameras" [value]="cam.deviceId">
              {{cam.label ? cam.label : 'Camera is blocked'}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <span style="color: red;">{{mediaInfoService.permissionErrorMessage}}</span>
        <div id="pre-local-player"
             style="width:336px; max-width:100%; height:222px; background-color:#000; position:relative; border-radius: 5px;" #prelocalplayer
             class="player"></div>
        <mat-form-field style="width:100%; margin-top:15px">
          <mat-label>Video Quality</mat-label>
          <mat-select [(value)]="mediaInfoService.mediaInfo.selectedSendVideoResolution"
                      (selectionChange)="onSendVideoResolutionSelectionChange()">
            <mat-option *ngFor="let profile of mediaInfoService.videoProfiles" [value]="profile.Value">
              {{profile.Label}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="audioVideoRight">
        <div class="videoIcon">
          <div *ngIf="showMicIcon()">
            <a (click)="toggleMicOnClick()">
              <span class="material-icons">
                {{dialogData.localAudioEnable ?'mic' : 'mic_off'}}
              </span>
              <p>Microphone </p>
            </a>
          </div>
          <div class="troubleshoot">Troubleshoot</div>
        </div>
        <ng-container *ngIf="showMicIcon()">
          <mat-form-field style="width:100%">
            <mat-select [(value)]="mediaInfoService.mediaInfo.selectedMicrophoneId"
                        (selectionChange)="onMicrophoneSelectionChange()">
              <mat-option *ngFor="let mic of mediaInfoService.mics" [value]="mic.deviceId">
                {{ mic.label ? mic.label : 'Microphone is blocked'}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </ng-container>
        <div class="progress">
          <div class="bar" [style.width]="currentVolumn + '%'">
          </div>
        </div>
        <div class="videoIcon">
          <div>
            <a>
              <span class="material-icons"> volume_up </span>
              <p>Select your output device</p>
            </a>
          </div>
          <div class="troubleshoot">Troubleshoot</div>
        </div>
        <ng-container>
          <mat-form-field style="width:100%">
            <mat-select [(value)]="mediaInfoService.mediaInfo.selectedSpeakerId"
                        (selectionChange)="onSpeakerSelectionChange()">
              <mat-option *ngFor="let s of mediaInfoService.speakers" [value]="s.deviceId">
                {{ s.label }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </ng-container>
        <div class="playBtn">
          <a *ngIf="!isSoundPlaying" (click)="playTestSound()">
            <span class="material-icons"> play_arrow </span>
            Play test sound
          </a>
          <a *ngIf="isSoundPlaying" (click)="stopPlayingTestSound()">
            <span style="max-width:24px !important" class="material-icons"> pause_arrow </span>
            Playing test sound
          </a>
        </div>       
      </div>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-raised-button [disabled]="resourcesLoading" (click)="action('cancel')">Cancel</button>
    <button mat-raised-button color="primary" [disabled]="resourcesLoading" (click)="action('confirm')" cdkFocusInitial>
      Save
    </button>
  </mat-dialog-actions>

  <div class="loaderOverlay inline" *ngIf="resourcesLoading">
    <div class="printingSpotSpinner">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
</div>
