.toggleSameBtn { padding:0; line-height:48px; vertical-align:bottom; min-width:48px; background:white }
.toggleSameBtn mat-icon { color:#212121 }
.formatEditToolbar { display:inline-flex }
.formatEditToolbar input[type='color'], .formatEditToolbar input[type='file'] { position:absolute; left:0; top:0; width:100%; height:100%; opacity:0 }

.mat-button-toggle { line-height:48px }
::ng-deep section-designer-toolbar { position:absolute; top:6px; right:6px; display:none; z-index:999 }
::ng-deep.virtualEventSec:hover section-designer-toolbar, section:hover section-designer-toolbar { display:block; animation:slide-in 0.1s ease-in }
.paddingEditor { width:232px; background-color:#fff; padding:1rem; border-radius:2px; box-shadow:0 0 14px rgba(0,0,0,.3); position:absolute; right:0;
  .paddingTitle { width:50px; font-size:14px; color:#111; margin-right:10px; float:left; line-height:28px;}
  .paddingOption { max-width:115px; display:inline-block; 
    &:nth-child(1) { padding-right:3px }
    &:nth-child(2) { padding-left:3px }
    &:nth-child(3) { padding-right:3px }
    &:nth-child(4) { padding-left:3px }
    button { margin:0; min-width:30px; padding:0; background:#fff; border-radius:0; color:#111; min-height:28px; height:28px }
    input { font-size:12px; padding:0; padding-right:3px; min-width:10px; background-color:#fff; text-align:right; font-weight:500; min-height:10px; height:28px; outline:none; box-shadow:none;}
    .px { border-color:#ccc; border-left:none; line-height:24px; font-weight:300; min-width:25px; text-align:left;}
    .material-icons { font-size:16px; line-height:0; vertical-align:unset }
  }
}
.borderStyleWrapper { max-height:200px; overflow-x:auto; color:black; margin-top:15px;}
.borderStyleBox { border-style:solid; width:150px; height:40px; font-size:18px; line-height:36px; text-align:center; color:#000;
  &:hover { background-color:#cacaca;}
  &.activeBorder { background:#ff2567; color:#fff;} 
  &.solid { border-style:solid;}
  &.dashed { border-style:dashed;}
  &.dotted { border-style:dotted;}
  &.double { border-style:double;}
  &.none { border-style:none;}
}
.changeColorBtn { padding:0; min-width:36px; height:36px; margin:0 0.2rem;
  input[type='color'] { margin-right:0 }
}
.saveBtnStroked { padding:0 8px; min-width:60px }
.borderOption { 
  button { height:36px !important }
  .material-icons { vertical-align:middle !important }
  input { height:36px !important }
}
.pointer { cursor:pointer }
@keyframes slide-in {
    from {
      transform: translate(0, -5px);
      opacity: 0;
    }
  }