<div class="row">
    <div class="col-12" *ngIf="quest.Template === 'textedit'">
        <div class="fieldsTitle">{{quest.Title}}</div>
        <mat-form-field class="w-100">
            <input matInput name="questionText">
        </mat-form-field>
    </div>
    <div class="col-12" *ngIf="quest.Template === 'textbox'">
        <div class="fieldsTitle">{{quest.Title}}</div>
        <mat-form-field class="w-100">
            <textarea  matInput name="questionTextParagraph"></textarea>
        </mat-form-field>
    </div>
    <div class="col-12" *ngIf="quest.Template === 'checkbox'">
        <div class="fieldsTitle  my-3">{{quest.Title}}</div>  
        <mat-checkbox matInput  class="d-block text-left" *ngFor="let variant of quest.Variants" value="{{variant.Id}}">{{variant.Title}}</mat-checkbox>
    </div>
    <div class="col-12" *ngIf="quest.Template === 'radiobox'">
        <div class="fieldsTitle  my-3">{{quest.Title}}</div>
        <mat-radio-group matInput  aria-labelledby="Question Radio">
            <mat-radio-button *ngFor="let variant of quest.Variants" value="{{variant.Id}}" class="d-block">{{variant.Title}}</mat-radio-button>
        </mat-radio-group>
    </div>
    <div class="col-12" *ngIf="quest.Template === 'dropdown'">
        <div class="fieldsTitle my-3">{{quest.Title}}</div>
        <mat-form-field class="d-block">
            <mat-label>Please Select</mat-label>
            <mat-select matInput >
                <mat-option value="{{variant.Id}}" *ngFor="let variant of quest.Variants">{{variant.Title}}</mat-option>
            </mat-select>
        </mat-form-field>
    </div> 
    <div class="col-12" *ngIf="quest.Template === 'waiver'">
        <div class="fieldsTitle mb-3">{{quest.Title}}</div>
        <mat-checkbox matInput  class="d-block waiverQuestion text-left" *ngFor="let variant of quest.Variants">{{variant.Title}} </mat-checkbox>
    </div>
    <div class="col-12" *ngIf="quest.Template === 'doubledropdown'">
        <div>
            <div class="fieldsTitle my-3">{{quest.MultiText.ParentText}}</div>
            <mat-form-field class="d-block">
                <mat-label>Please Select</mat-label>
                <mat-select matInput  >
                    <mat-option (click)="onVariantChange(variant)" *ngFor="let variant of quest.Variants" value="{{variant.Id}}">{{variant.Title}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="pl-3" *ngIf="quest.SelectedVariant && quest.SelectedVariant[0]">
            <div class="fieldsTitle my-3">{{quest.MultiText.ChildText}}</div>
            <mat-form-field class="d-block">
                <mat-label>Please Select</mat-label>
                <mat-select matInput  >
                    <mat-option *ngFor="let variant of quest.SelectedVariant[0].ChildVariants" value="{{variant.Id}}">{{variant.Title}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
</div>