<section class="spaceY" id="workshops">
    <div class="container">
        <div class="row">
            <div class="col-12 mb-3 mb-sm-5">
                <div class="w-75 mx-auto text-center">
                    <h2 class="semiBold">Workshops</h2>
                    <p class="f3 py-3 line-height2 text-center">Event workshops is Aladdin started this studio to benefit artists in the community from comedians to actors to singers</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <!-- Slider main container -->
                <div class="swiper-container" id="coverflowSlider">
                    <!-- Additional required wrapper -->
                    <div class="swiper-wrapper">
                        <!-- Slides -->
                        <div class="swiper-slide" data-toggle="modal" data-target="#workshopModal">
                            <div class="picture">
                                <img src="assets/eventmaker/theme1/media/workshop-slide1.jpg" alt="">
                            </div>
                            <div class="p-3">
                                <h5 class="semiBold">The standard Lorem Ipsum passage</h5>
                                <p>Event workshops is Aladdin started this studio to benefit artists</p>
                            </div>
                        </div>
                        <div class="swiper-slide" data-toggle="modal" data-target="#workshopModal">
                            <div class="picture">
                                <img src="assets/eventmaker/theme1/media/workshop-slide2.jpg" alt="">
                            </div>
                            <div class="p-3">
                                <h5 class="semiBold">The standard Lorem Ipsum passage</h5>
                                <p>Event workshops is Aladdin started this studio to benefit artists</p>
                            </div>
                        </div>
                        <div class="swiper-slide" data-toggle="modal" data-target="#workshopModal">
                            <div class="picture">
                                <img src="assets/eventmaker/theme1/media/workshop-slide3.jpg" alt="">
                            </div>
                            <div class="p-3">
                                <h5 class="semiBold">The standard Lorem Ipsum passage</h5>
                                <p>Event workshops is Aladdin started this studio to benefit artists</p>
                            </div>
                        </div>
                    </div>
                    <!-- If we need pagination -->
                    <!-- <div class="swiper-pagination"></div> -->
                </div>
            </div>
        </div>
    </div>
</section>
