.notificationSearch { width:240px; font-size:14px; float:right; margin-top:-10px;}
.notificationTable { width:100%;
  .mat-header-row { background:var(--theme-color);
    .mat-header-cell { color:#fff; font-size:100%;}
  }
}

.example-rate-limit-reached { color: #980000; max-width: 360px; text-align: center;}

.chip { display: inline-block; height: 32px; font-size: 13px; font-weight: 500; color: rgba(0,0,0,0.6); line-height: 32px; padding: 0 12px; border-radius: 16px; background-color: #e4e4e4;
  img { float: left; margin: 0 8px 0 -12px; height: 32px; width: 32px; border-radius: 50%;}
}
table.fixed { table-layout:fixed; }
table.fixed td { overflow: hidden; }
