
.attendeesList { width:100%; display:inline-block;
  .attendee { width:48px; height:48px; margin-bottom:15px; margin-right:15px; float:left; background-color:#e8edef; background-position:center center; background-size:cover; background-repeat:no-repeat;}
}

.attendeesList img{border-radius: 25px;}

